/*
 * Kontron SMARC-sAL28 device tree source
 *
 * Copyright 2018 Kontron Europe GmbH
 *
 * SPDX-License-Identifier:	GPL-2.0+
 */

/dts-v1/;

#include "fsl-ls1028a.dtsi"

/ {
	u-boot,dm-pre-reloc;
	model = "Kontron SMARC-sAL28 Board";
	compatible = "kontron,sl28", "fsl,ls1028a";

	aliases {
		serial0 = &lpuart1;
		serial1 = &serial0;
		serial2 = &serial1;
		spi0 = &fspi;
		spi1 = &dspi2;
		mmc0 = &esdhc0;
		mmc1 = &esdhc1;
		eth-p0 = &eth_p0;
		eth-p1 = &eth_p1;
		eth-p2 = &eth_p2;
		ethernet3 = &netc_mdio;
		i2c0 = &i2c0;
		i2c1 = &i2c3;
		i2c2 = &i2c4;
		rtc0 = &rtc;
		watchdog0 = &watchdog0;
		watchdog1 = &cluster1_core0_watchdog;
		watchdog2 = &cluster1_core1_watchdog;
	};

	chosen {
		stdout-path = &serial0;
	};

	config {
		u-boot,spl-payload-offset = <0x30000>;
		load-environment = <1>;
	};
};

&sysclk {
	u-boot,dm-pre-reloc;
};

&esdhc0 {
	u-boot,dm-pre-reloc;
};

&serial0 {
	u-boot,dm-pre-reloc;
	clock-frequency = <200000000>;
};

&lpuart1 {
	u-boot,dm-pre-reloc;
	status = "okay";
};

&fspi {
	u-boot,dm-pre-reloc;
	bus-num = <0>;
	status = "okay";
	num-cs = <2>;
	fspi-has-second-chip;

	qflash0: w25q32jw@0 {
		u-boot,dm-pre-reloc;
		#address-cells = <1>;
		#size-cells = <1>;
		compatible = "spi-flash";
		spi-max-frequency = <133000000>;
		reg = <0>;
	 };
};

&dspi2 {
	u-boot,dm-pre-reloc;
	status = "okay";
};

&enetc_pcie {
	eth_p0: ethernet@0 {
		compatible = "fsl,ls-enetc";
		reg = <0x00000000 0x0 0x0 0x0 0x0>;
		phy-mode = "sgmii";
		phy-handle = <&enetc_phy1>;
		status = "okay";
	};

	eth_p1: ethernet@1 {
		compatible = "fsl,ls-enetc";
		reg = <0x00000100 0x0 0x0 0x0 0x0>;
		phy-mode = "rgmii";
		phy-handle = <&enetc_phy0>;
		status = "okay";
	};

	eth_p2: ethernet@2 {
		compatible = "fsl,ls-enetc";
		reg = <0x00000200 0x0 0x0 0x0 0x0>;
		status = "disabled";
	};

	ethernet@3 {
		compatible = "fsl,ls-enetc";
		reg = <0x00000600 0x0 0x0 0x0 0x0>;
		status = "disabled";
	};

	netc_mdio: netc_mdio {
		compatible = "fsl,netc-mdio";
		reg = <0x00000300 0x0 0x0 0x0 0x0>;

		#address-cells=<0>;
		#size-cells=<1>;
		enetc_phy0: phy@4 {
			reg = <4>;
		};
		enetc_phy1: phy@5 {
			reg = <5>;
		};
	};
};


&i2c0 {
	rtc: rtc@32 {
		compatible = "microcrystal,rv8803";
		reg = <0x32>;
	};

	watchdog0: cpld_watchdog@4a {
		compatible = "kontron,sl28cpld-wdt";
		reg = <0x4a>;
	};
};

&sata {
	status = "okay";
};
