if TARGET_SL28

config SYS_BOARD
	default "sl28"

config SYS_VENDOR
	default "kontron"

config SYS_SOC
	default "fsl-layerscape"

config SYS_CONFIG_NAME
	default "kontron_sl28"

config SYS_TEXT_BASE
	default 0x96000000

config KONTRON_TEST_EXTENSIONS
	bool "Kontron Test Extensions"
	default n
	help
	  This activates environment settings to be used inside Kontrons test
	  lab.

if FSL_LS_PPA
config SYS_LS_PPA_FW_ADDR
	hex "PPA Firmware Addr"
	default 0x20140000 if SYS_LS_PPA_FW_IN_XIP && ARCH_LS1028A
	default 0x00400000 if SYS_LS_PPA_FW_IN_MMC && ARCH_LS1028A
endif

source "board/kontron/common/Kconfig"

endif
